@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
 *,*::before,*::after{
   box-sizing:border-box;
 }
 body{
  overflow-x: hidden;

 }
 html,body,ul,h,p{
   margin:0;
   padding:0;
 }
 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input:focus,textarea:focus{
  outline:none;
}
input[type=number] {
  -moz-appearance: textfield;
}



}

@layer components{
  .slider {
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  
  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }
  
  .slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
  }
  
  .slider__range {
    background-color: #6e7051;
    z-index: 2;
  }
  
  .slider__left-value,
  .slider__right-value {
    color: #6e7051;
    font-size: 12px;
    margin-top: 20px;
  }
  
  .slider__left-value {
    left: 6px;
  }
  
  .slider__right-value {
    right: -4px;
  }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
  }
  
  .thumb--left {
    z-index: 3;
  }
  
  .thumb--right {
    z-index: 4;
  }
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #6e7051;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #6e7051;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
}
@layer utilities{
   .container{
     @apply mx-auto w-full max-w-[88rem] 
   }
   .container-primary-px{
    @apply  px-[4rem] md:px-[2rem] xsm:px-[1rem]
   }
   .h2-primary{
    @apply text-third text-center text-[2.5rem] font-poppins font-medium
   }
}


